<div class="row h-100">
  <div class="text-light text-center align-self-center">
    <img src="assets/images/IMG_7630_copy.jpg" class="rounded-circle mx-auto d-block col-5"
      alt="Picture of Etienne Rallu">
    <h1>Etienne Rallu</h1>
    <h2>Sound & Media Engineeer</h2>
    <p>With years of experience, a Bachelor of Science in Media Engineering and a Bachelor of Arts in audio production, I am the
      one to go to when it comes to communication, web developpment, music recording, mixing, mastering, sound for film,
      sound design and live sound </p>
    <div class="social-links">
      <a href="#">
        <img src="assets/images/mail.svg" height="30px" alt="Facebook">
      </a>
      <a href="https://www.facebook.com/rallusound/">
        <img src="assets/images/fb.svg" height="30px" alt="Facebook">
      </a>
      <a href="https://www.linkedin.com/in/ralluetienne/">
        <img src="assets/images/in.svg" height="30px" alt="Linkedin">
      </a>
      <a href="https://github.com/EtienneRallu">
        <img src="assets/images/gh.svg" height="30px" alt="Github">
      </a>
      <a href="https://www.youtube.com/playlist?list=PL-ymGT-yGcBI1XzK9XHd_KjTqF2fDeBnw">
        <img src="assets/images/yt.svg" height="30px" alt="Youtube">
      </a>
      <a href="https://soundcloud.com/etienne-r/">
        <img src="assets/images/sc.svg" height="30px" alt="Soundcloud">
      </a>
      <a href="https://www.instagram.com/rese_sound/">
        <img src="assets/images/ig.svg" height="30px" alt="Instagram">
      </a>
    </div>
  </div>
</div>
