<main class="container bg-light">
  <h2 class="text-center">Film portfolio</h2>
  <p class="heading text-center">THe following Youtube Playlist contains samples of short films, documentaries, advertising and web projects I was a part of.
    Sometimes I was involved as a boom operator, sometimes as a sound mixer and sometimes as a post-production sound designer.</p>
  <div class="iframe-container">
    <iframe src="https://www.youtube.com/embed/videoseries?list=PL-ymGT-yGcBK7Y3qYTRFwjEeg-X6ifPbE" frameborder="0"
      allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
</main>
