<nav class="navbar navbar-expand-sm navbar-dark fixed-top">
  <div class="mx-auto">
    <button class="navbar-toggler" type="button" (click)="toggleNavBar()">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <span class="d-none d-md-inline navbar-brand mb-0 h1">Etienne Rallu</span>
  <div class="collapse navbar-collapse" [ngClass]=setClasses()>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="bio" routerLinkActive="active" (click)="toggleNavBar(); scrollToMain()" >Bio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" ((click)="toggleNavBar(); scrollToMain()">Film</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="toggleNavBar(); scrollToMain()">Music</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="toggleNavBar(); scrollToMain()">Web IT&Communication</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact" routerLinkActive="active" (click)="toggleNavBar(); scrollToMain()">Contact</a>
      </li>

    </ul>
  </div>
</nav>
