<nav class="navbar navbar-expand-sm navbar-dark fixed-top">
  <div class="mx-auto">
    <button class="navbar-toggler" type="button" (click)="toggleNavBar()">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <a class="d-none d-md-inline navbar-brand mb-0 h1"  routerLink="" (click)="resetTitle()">Etienne Rallu</a>
  <div class="collapse navbar-collapse" [ngClass]="{'show': this.isToggled}">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="bio" routerLinkActive="active" (click)="toggleNavBar()" >Bio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="film" routerLinkActive="active" (click)="toggleNavBar()">Film</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="music" routerLinkActive="active"  (click)="toggleNavBar()">Music</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="web" routerLinkActive="active"  (click)="toggleNavBar()">Web IT&Communication</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact" routerLinkActive="active" (click)="toggleNavBar()">Contact</a>
      </li>

    </ul>
  </div>
</nav>
