<main class="container">
  <h2 class="h1-responsive font-weight-bold text-center my-4">Contact</h2>

  <p class="text-center w-responsive mx-auto mb-5">Please feel free to get in touch, I will come back to you as soon as
    possible.</p>
  <div [hidden]="submitted">
    <form (ngSubmit)="onSubmit()" #messageForm="ngForm">
      <div class="form-row">
        <div class="col-md-6 col-sm-12">
          <div class="form-group">
            <label for="firstName">First name</label>
            <input type="text" class="form-control" id="firstName" placeholder="John" [(ngModel)]="model.firstName"
              name="firstName" required #firstName="ngModel">
            <div [hidden]="firstName.valid || firstName.pristine" class="invalid-feedback" style="display:inline">
              First name is required
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="form-group">
            <label for="lastName">Last name</label>
            <input type="text" class="form-control" id="lastName" [(ngModel)]="model.lastName" name="lastName"
              placeholder="Doe" required #lastName="ngModel">

            <div [hidden]="lastName.valid || lastName.pristine" class="invalid-feedback" style="display:inline">
              Last name is required
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-6 col-sm-12">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" [(ngModel)]="model.email" name="email"
              placeholder="mail@example.com" id="email" #email="ngModel" email>
            <div [hidden]="email.valid || email.untouched" class="invalid-feedback" style="display:inline">
              Please enter a valid email address
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-12">
          <div class="form-group">
            <label for="phoneNumber">Phone number</label>
            <input type="tel" class="form-control" [(ngModel)]="model.phoneNumber" name="phoneNumber"
              placeholder="+XX XX XXX XX XX" id="phoneNumber" #phoneNumber="ngModel">
            <div [hidden]="phoneNumber.valid || phoneNumber.pristine" class="invalid-feedback" style="display:inline">
              Please enter a valid phone number
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col-12">
          <div class="form-group">
            <label for="subject">Subject</label>
            <input type="text" class="form-control" [(ngModel)]="model.subject" name="subject"
              placeholder="What is your message about?" id="subject" #subject="ngModel" required>
            <div [hidden]="subject.valid || subject.pristine" class="invalid-feedback" style="display:inline">
              Please enter a subject
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="content">Message</label>
        <textarea class="form-control" id="content" [(ngModel)]="model.content" name="content" rows="5"
          #content="ngModel" required placeholder="Type your message here..."></textarea>
        <div [hidden]="content.valid || content.pristine" class="invalid-feedback" style="display:inline">
          Please enter a message
        </div>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="optIn" name="optIn"
          [(ngModel)]="model.optIn"  #optIn="ngModel" id="newsletter">
          <label class="form-check-label" for="newsletter">
            I want to receive the newsletter and promotional information (never more than once a month)
          </label>
        </div>
      </div>
      <button type="submit" class="btn btn-success" 
        [disabled]="!messageForm.form.valid">Send</button>
    </form>
  </div>

  <div [hidden]="!submitted">
    <div class="alert alert-success" role="alert">
      Your message was sent successfully !
    </div>
    <div class="row">
      <div class="col-3">
        <p>Firstname : </p>
      </div>
      <div class="col-9">
        <p>{{ model.firstName }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <p>Lastname : <p>
      </div>
      <div class="col-9">
        <p>{{ model.lastName }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <p>Email</p>
      </div>
      <div class="col-9">
        <p>{{ model.email }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <p>Phone number</p>
      </div>
      <div class="col-9">
        <p>{{ model.phoneNumber }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <p>Subject</p>
      </div>
      <div class="col-9">
        <p>{{ model.subject }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <p>Content</p>
      </div>
      <div class="col-9">
        <pre>{{ model.content }}</pre>
      </div>
    </div>

  </div>
</main>
