<main>
  <div class="jumbotron">
    <h1 class="display-4">Hello, world !</h1>
    <p class="lead">If you come back here in a few weeks, you'll be able to admire a beautiful showreel of everything
      I've been working on for the past few years : Media, Sound, Music, Film, Communication, Web projects and more.
      everything will be there.</p>
      <hr>
      <p>In the meantime feel free to browse my social media and get in touch by clicking <a href="mailto:info@etiennerallu.com">here</a></p>
    <img src="assets/images/construction_signs2.svg" width="100%" alt="Facebook">
  </div>
</main>
