<main>
  <section class="container-fluid bg-light">
    <div class="row align-items-center">
      <div class="col-12 text-center lead">
        <p>Graduated of a Bachelor of Science in Media Engineering, I am currently looking for an opportunity within a
          company active in media, communication and web development
        </p>
        <p> Thanks to a previous Bachelor's degree in Audio Production, I also have extensive knowledge in the fields of
          sound, including sound for film, sound reinforcement and music production
        </p>
      </div>
    </div>
  </section>

  <section class="container-fluid bg-light">
    <div class="row align-items-center">
      <div class="col-12 col-md-4 text-left order-md-12 border-left">
        <h2>Independent and reliable</h2>
      </div>
      <div class="col-12 col-md-8">
        <p>Many years of experience as a freelancer have allowed me to deepen my sense of
          contact,organization and responsibilities.</p>
      </div>
    </div>
  </section>

  <section class="container-fluid bg-light">
    <div class="row align-items-center">
      <div class="col-12 col-md-4 text-right border-right">
        <h2>Open minded and eager to learn</h2>
      </div>
      <div class="col-12 col-md-8 align-self-center">
        <p>I have a particular interest for organizations active in the fields of audiovisual,
          radio,television, film, music or multimedia journalism. I can bring technical and practical khowhow in
          communication, web
          development, IT, digital business and project management.
        </p>
      </div>
    </div>
  </section>

  <section class="container-fluid bg-light">
    <div class="row align-items-center">
      <div class="col-12 col-md-4 text-left order-md-12 border-left">
        <h2>Polyglot and traveller</h2>
      </div>
      <div class="col-12 col-md-8 ">
        <p> I always seize the opportunity to broaden my horizons. I studied and lived in london for three years. I have
          also taken part of summer universities in India and China where I was able to Experiment with international
          teamwork. I speak a perfect English. I also attended high-school in a French and German
          bilingual curriculum.</p>
      </div>
    </div>
  </section>

  <section class="container-fluid bg-light">
    <div class="row align-items-center">
      <div class="col-12 col-md-3 text-right border-right">
        <h2>Discreet and precise</h2>
      </div>
      <div class="col-12 col-md-8">
        <p>I know how to work effectively in a team. My listening skills make me a good element
          for group cohesion</p>
      </div>
    </div>
  </section>
<!--
  <section class="container-fluid bg-light">
    <div class="row align-items-center">
      <div class="col-12 col-md-4 text-left order-md-12 border-left">
        <h2>Experienced</h2>
      </div>
      <div class="col-12 col-md-8">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium iusto repudiandae odit dignissimos at
          eos
          magnam neque sequi dolor doloribus consequuntur, recusandae sapiente commodi, quod corrupti fugiat unde beatae
          facilis.</p>
      </div>
    </div>
  </section>

  <section class="container-fluid bg-light">
    <div class="row align-items-center">
      <div class="col-12 col-md-3 text-right border-right">
        <h2>Educated</h2>
      </div>
      <div class="col-12 col-md-9">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium iusto repudiandae odit dignissimos at
          eos magnam neque sequi dolor doloribus consequuntur, recusandae sapiente commodi, quod corrupti fugiat unde beatae
          facilis.</p>
      </div>
    </div>
  </section>
-->
</main>
