<main class="container bg-light">
    <h2 class="text-center">Music portfolio</h2>
    <p class="heading text-center">THe following Youtube Playlist contains samples of film and music projects I was a part of.
      Sometimes It was as a boom operator, sometimes as a sound mixer, sometimes as a post-production sound designer or as
      a recording, mixing and mastering engineer when it comes to music videos</p>
    <div class="iframe-container">
      <iframe src="https://www.youtube.com/embed/videoseries?list=PL-ymGT-yGcBI1XzK9XHd_KjTqF2fDeBnw" frameborder="0"
        allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </main>
  